.card-options {
    top: 1em;
    right: 1em;
    position: absolute;
}
.center-x {
    margin: 0 auto;
}
.fab {
    right: 20px;
    bottom: 20px;
    z-index: 999;
    position: fixed;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-fill {
    flex: 1 1 auto;
}
.float-bottom {
    bottom: 0;
    position: absolute;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
