.preview {
    z-index: 50;
    display: block;
    top: 15px;
    left: 120px;
    height: auto;
    min-height: 110px;
    max-height: 135px;
    width: auto;
    max-width: 70%;
    position: absolute;
    padding-left: 15px;
    overflow: hidden;
}

.tail {
    background-image: url("//gaia.hs.llnwd.net/e1/images/gaia_bulletin/teal_say_sprite.png");
    background-repeat: no-repeat;
    height: 23px;
    left: 0px;
    position: absolute;
    top: 57px;
    width: 22px;
}

.preview-modal{
    border-radius: 7px;
    border: 2px solid #9FCECC;
    background: #FFF;
    padding: 5px;
    margin-left: 5px;
    height: auto;
    min-height: 75px;
    max-height: 115px;
    overflow: hidden;
}

.post-body /deep/ img.user_img {
    margin: auto;
    height:auto;
    max-width:100%;
}

@media (min-width: 50%) {
  .dialog {
    top: 40px;
  }
}